* {
    box-sizing: border-box;
}
body,
html {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: "Arial (Hebrew)", Arial;
}
.container {
    width: 100%;
    margin: 0 auto;
}
/*header*/
.container > header {
    background: #fff url("images/header_bg.png") repeat-x;
    color: white;
}
.container > header > .header-content {
    width: 900px;
    margin: 0 auto;
    padding: 14px 0;
}
.container > header > .header-content img.logo {
    position: relative;
    top: -2px;
}
.container > header > .header-content .english {
    padding-left: 17px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.container > header > .header-content .english:hover {
    text-decoration: underline;
}
.container > header > .header-content .search {
    width: 132px;
    height: 19px;
    border-top-right-radius: 7px;
    border: none;
}
.container nav {
    flex: 7;
}
.container nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5px;
}
.container nav li {
    list-style-type: none;
    font-size: 15px;
    font-weight: bold;
}
.container nav li.sep {
    background: url(images/menu_sep.png) repeat-x 0 0;
    height: 21px;
    width: 4px;
}
/*end of header*/
/*main content*/
.container > main {
    width: 900px;
    margin: inherit;
}
.container > main.homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container > main.homepage > .row {
    justify-content: space-between;
}
.container > main.homepage .banner {
    margin-left: 13px;
    border-bottom-right-radius: 7px;
    position: relative;
}
.container > main.homepage .banner > img {
    border-bottom-right-radius: 24px;
}
.container > main.homepage .banner > .description {
    color: white;
    background-color: grey;
    position: absolute;
    top: 241px;
    margin: 0 8px 0px 37px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 6px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}
.container > main.homepage .banner > .description > h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0;
}
.container > main.homepage .banner > .description > a {
    align-self: flex-end;
    background: url(images/read_more_white.png) no-repeat left center;
}
.container > main.homepage .banner > .description > a:hover {
    background: url(images/read_more_blue.png) no-repeat left center;
}
.container > main.homepage .banner > .description > a > span {
    padding-left: 12px;
}
.container > main.homepage .card {
    background: url(images/small_cube_bg.png) no-repeat right top;
    margin-top: 30px;
    height: 216px;
    width: 292px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}
.container > main.homepage .card > h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 3px 20px 11px;
}
.container > main.homepage .card > img {
    margin: 10px 15px;
}
.container > main.homepage .card img:last-child {
    padding-left: 23px;
}
.container > main.homepage .card a {
    color: #72716d;
    align-self: flex-end;
    background: url(images/read_more_yellow.png) no-repeat left center;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 13px;
}
.container > main.homepage .card:last-child a {
    align-self: auto;
    margin-top: 8px;
}
.container > main.homepage .card a:hover {
    background: url(images/read_more_blue.png) no-repeat left center;
    color: #005ca0;
}
.container > main.homepage .card a > span {
    padding-left: 12px;
}
.container > main.homepage .card > .locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container > main.homepage .card > .locations > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
/*end of main content*/
/*footer*/
.container > footer {
    /* background-color: grey; */
    background: url("images/footer_bg.png") repeat-x 0 0;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: inherit;
    height:38px;
}
.container > footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin: 5px auto;
    align-items: center;
}
.container > footer li {
    list-style-type: none;
    font-size: 14px;
}
.container > footer li > img {
    margin-top: 4px;
}
.container > footer li:last-child > a{
    color:red;
}
.container > footer li:last-child > a:hover{
    color:#005ca0;
}
.container > footer a {
    text-decoration: none;
}
.container > footer a:hover {
    text-decoration: underline;
}
/* .container > footer li.sep{
    background: url(images/menu_sep.png) repeat-x 0 0;
    height: 21px;
    width: 4px;
} */
/*end of footer*/
.row {
    width: 100%;
    display: flex;
}
.end {
    justify-content: flex-end;
    align-items: center;
}
a {
    color: white;
}
a:hover {
    color: #005ca0;
    text-decoration: underline;
}
